mirrorInterface-loops.vi
mirrorInterface-loops-empty.vi
startTargetVI.vi
# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
